log_level: info

telemetry:
    # app_name to be used for all telemetry tags (NewRelic & OpenTelemetry).
    app_name: compass-local

    newrelic:
        enabled: false
        licensekey: ____LICENSE_STRING_OF_40_CHARACTERS_____

    open_telemetry:
        # Setting this to false will disable both traces and metrics.
        enabled: false

        # Address of the OpenTelemetry Collector gRPC receiver.
        collector_addr: "localhost:4317"

        # Configures the intervening time between exports for periodically
        # collected metrics.
        periodic_read_interval: 15s

        # Probability of a trace being included in the published sample.
        # 1 means always.
        trace_sample_probability: 1

statsd:
    enabled: false
    address: 127.0.0.1:8125
    prefix: compass

newrelic:
    enabled: false
    licensekey: ____LICENSE_STRING_OF_40_CHARACTERS_____

elasticsearch:
    brokers: http://localhost:9200

db:
    host: localhost
    port: 5432
    name: compass
    user: compass
    password: compass_password
    sslmode: disable

service:
    host: localhost
    port: 8080
    identity:
        headerkey_uuid: Compass-User-UUID
        headerkey_email: Compass-User-Email
        provider_default_name: shield
    grpc:
        port: 8081
        max_send_msg_size: 33554432
        max_recv_msg_size: 33554432

worker:
    enabled: true
    worker_count: 1
    poll_interval: 1s
    active_poll_percent: 20
    pgq:
        host: localhost
        port: 5432
        name: compass
        username: compass
        password: compass_password
    job_manager_port: 8085

client:
    host: localhost:8081
    serverheaderkey_uuid: Compass-User-UUID // if ommited, will use value on service.identity.headerkey_uuid
    serverheadervalue_uuid: gotocompany@email.com
