log_level: info

statsd:
    enabled: false
    address: 127.0.0.1:8125
    prefix: compass

newrelic:
    enabled: false
    appname: compass
    licensekey: ____LICENSE_STRING_OF_40_CHARACTERS_____

elasticsearch:
    brokers: http://localhost:9200

db:
    host: localhost
    port: 5432
    name: compass
    user: compass
    password: compass_password
    sslmode: disable

service:
    host: localhost
    port: 8080
    grpc_port: 8081
    identity:
        headerkey_uuid: Compass-User-UUID
        headerkey_email: Compass-User-Email
        provider_default_name: shield

client:
    host: localhost:8080
    serverheaderkey_uuid: Compass-User-UUID // if ommited, will use value on service.identity.headerkey_uuid
    serverheadervalue_uuid: odpf@email.com
