SERVER_HOST: localhost
SERVER_PORT: 8080
SERVER_BASE_URL: localhost:8080
ELASTICSEARCH_BROKERS: http://localhost:9200
STATSD_ENABLED: false
STATSD_ADDRESS: 127.0.0.1:8125
STATSD_PREFIX: compassApi
LINEAGE_REFRESH_INTERVAL: 30m
NEW_RELIC_ENABLED: false
NEW_RELIC_APP_NAME: compass
NEW_RELIC_LICENSE_KEY: ____LICENSE_STRING_OF_40_CHARACTERS_____
LOG_LEVEL: info
DB_HOST: localhost
DB_PORT: 5432
DB_NAME: compass
DB_USER: compass
DB_PASSWORD: compass_password
DB_SSL_MODE: disable
IDENTITY_UUID_HEADER_KEY: Compass-User-UUID
IDENTITY_UUID_HEADER_VALUE: odpf@email.com
IDENTITY_EMAIL_HEADER: Compass-User-Email
IDENTITY_PROVIDER_DEFAULT_NAME: shield
