SERVER_HOST: localhost
SERVER_PORT: 3000
ELASTICSEARCH_BROKERS: http://localhost:9200
STATSD_ENABLED: false
STATSD_ADDRESS: 127.0.0.1:8125
STATSD_PREFIX: columbusApi
SEARCH_WHITELIST: ~
LINEAGE_REFRESH_INTERVAL: 30m
NEW_RELIC_ENABLED: false
NEW_RELIC_APP_NAME: columbus
NEW_RELIC_LICENSE_KEY: ____LICENSE_STRING_OF_40_CHARACTERS_____
LOG_LEVEL: info
